PORT=4000
NODE_ENV=development

DATABASE_URL=

JWT_SECRET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Meoow

GROQ_API_KEY=
DEEPGRAM_API_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_MODE=test

PROVIDER_ENCRYPTION_KEY=
